body {
  font-family: var(--font-geist-sans);
  background-color: #e6f3ff;
}

#main {
  padding: 1em 2em;
}

.createDraftsBox .container {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.enterText, .uploadMedia {
  width: 50%;
}

.enterText textarea {
  margin-top: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding: 1rem;
}

.uploadMedia {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
}

#media {
  width: 100%;
  height: 300px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dragover {
  background-color: #f0f0f0;
  border: 2px dashed #666 !important;
}

.droppedFiles {
  margin-top: 1rem;
}

.createDraftButton {
  display: flex;
  justify-content: flex-start;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0051b3;
}

.draftText {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.draftText textarea {
  width: 50%;
  min-height: 10em;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  resize: vertical;
}

dialog {
  padding: 1rem;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.dialog-content button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #e74c3c;
  color: white;
  cursor: pointer;
}

.dialog-content button:hover {
  background: #c0392b;
}

#foundHandles h2 {
  font-size: 1rem;
}

#foundHandles h3 {
  font-size: 0.8rem;
}
  
#foundHandles .platforms {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.tabs {
  margin: 20px 0px 0px 0px;
  border-bottom: 1px solid #ccc;
}

.tabs button {
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  color: #000;
  cursor: pointer;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}

.tabs button.active {
  background: #fff;
  border-bottom: 1px solid white;
  margin-bottom: -1px;
}

.tab-content {
  padding: 20px 20px 20px 20px;
  background-color: white;
  border-radius: 0 0 8px 8px;
  border: 1px solid #ccc;
  border-top: none;
}

.instructions {
  max-width: 800px;
  margin: 0 auto;
}

.instructions ol {
  line-height: 1.6;
}

.footer {
  margin-top: 20px;
  font-size: 0.8rem;
  text-align: center;
}

